## Analytical Queries

#### Import Python packages

In [1]:
# Import Python packages 
import cassandra
from queries import drop_table_queries

#### Connect to Cassandra Instance

In [2]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Set Keyspace

In [3]:
try:
    session.set_keyspace('sparkify')
except Exception as e:
    print(e)

#### We would like to run the following queries:

#### Query 1: Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4

**music_by_sessionId** was modeled to run this query.

In [4]:
query1 = "SELECT artist, song, length FROM music_by_sessionId WHERE sessionId = 338 AND itemInSession = 4"

try:
    rows = session.execute(query1)
except Exception as e:
    print(e)
    
for row in rows:
    print((row.artist, row.song, row.length))

('Faithless', 'Music Matters (Mark Knight Dub)', 495.30731201171875)

#### Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

**music_by_userId** was modeled to run this query.

In [5]:
query2 = "SELECT artist, song, user FROM music_by_userId WHERE userId = 10 AND sessionID = 182"

try:
    rows = session.execute(query2)
except Exception as e:
    print(e)
    
for row in rows:
    print((row.artist, row.song, row.user))

('Down To The Bone', "Keep On Keepin' On", 'Sylvie Cruz')
('Three Drives', 'Greece 2000', 'Sylvie Cruz')
('Sebastien Tellier', 'Kilometer', 'Sylvie Cruz')
('Lonnie Gordon', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Sylvie Cruz')

#### Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

**music_by_song** was modeled to run this query.

In [6]:
query3 = "SELECT user FROM music_by_song WHERE song = 'All Hands Against His Own'"

try:
    rows = session.execute(query3)
except Exception as e:
    print(e)
    
for row in rows:
    print((row.user))

Jacqueline Lynch
Tegan Levine
Sara Johnson

### Drop the tables before closing out the sessions

In [7]:
for query in drop_table_queries:
    session.execute(query)

### Close the session and cluster connectionÂ¶

In [8]:
session.shutdown()
cluster.shutdown()